* {
    margin: 0;
}
header {
    padding: 40px;
    background: #006400;
    font-size: 30px;
}
.section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

