.profile-card {
  background-color: #f7f7f7;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0.75rem;
}

/* Image container */
.profile-card_img {
  width: 120px; /* Set fixed width and height */
  height: 120px; /* Maintain aspect ratio */
  margin: 0 auto 1rem auto; /* Center image with space below */
  position: relative;
  overflow: hidden;
}

/* Image styling */
.profile-card_img img {
  border-radius: 50%; /* Circular shape */
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; /* Ensure image covers the container */
}

h3 {
  margin: 0.5rem 0;
}

p {
  margin: 0;
  color: #191a1a;
}
