body {
  font-family: var(--font-family);
  background-color: var(--third-background-color);
  color: var(--text-color);
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
  
main {
  height: 100%;
  min-height: 100vh;
  &.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: var(--dark-text-color);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin-bottom: 0.625rem;
}
  
  h1 {
    font-size: 2rem;
    text-align:center;
  }
  
  h2 {
    font-size: 1.8rem;
    text-align:center;
  }
  
  h3 {
    font-size: 1.6rem;
  }
  
  h4 {
    font-size: 1.4rem;
  }
  
  h5 {
    font-size: 1.2rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    font-size: 1.125rem;
    color: #191a1a;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  
  a {
    color: #646cff;
    text-decoration: none;
  }
  
  a:hover {
    color: #191a1a;
  }
  
  ul,
  ol {
    padding-left: 1.25rem;
  }
  
  li {
    margin-bottom: 0.3125rem;
  }
  #root {
      width: 100%;
      height: 100%;
      min-height: 100vh;
    }
    .section {
      width: 100%;
      padding: 4rem;
    }
    .section + .section {
      margin-top:-4rem;
    }
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
    /* profile container */
    .profile-cards{
      display: flex;
      flex-wrap: wrap;
      margin:-0.75rem;
    }
      /* button*/
      .button {
        background-color: #1a1a1a;
        color: #ffffff;
        border: none;
        border-radius: 8px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: color 0.3s;
      }
      .button:hover {
        background-color: #f7f7f7;
        color: #191a1a;
      }
      /* filters */
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5rem;
}
.filter--search,
.filter--select,
button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
select,
input {
  padding: 0.5rem;
  font-size: 1rem;
}