.navbar {
  background-color: #646cff;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin-right: 1rem;
}

.navbar ul li a {
  color: #ffffff;
  font-size: 1.8rem;
}

.navbar ul li a:hover {
  color: #191a1a;
}
